body{
    background-color: #F1F1F1; 
    font-weight: bold;
      font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,serif; 
  }
  
  h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 35px;
  }
  
  .colorboxes {
    position: static;
    margin: 0 auto;
    width: 26rem;
    height: 32rem;
  }
  
  .colorbox {
    display: inline-block;
    margin: 0.5rem;
    width: 11rem;
    height: 14rem;
    border: 4px solid white;
  }
  
  .colorbox:first-child {
    background-color: Tomato;
  }
  
  .colorbox:nth-child(2) {
    background-color: Teal;
  }
  
  .colorbox:nth-child(3) {
    background-color: burlywood;
  }
  
  .colorbox:last-child {
    background-color: thistle;
  }
  
  .textbox {
    background-color: white;
    margin-top: 1rem;
    height: 4rem;
    font-size: 16px;
    padding-top: 10px;
  }
  
  .textbox > p {
    font-size: 10px;
    margin-top: 15px;
  }